div {
}

#first-div {
  background-color: #39cccc;
  width: 200px;
  height: 200px;
  padding: 50px;
  border:5px solid black;
}

#second-div {
  background-color: #ff4136;
  width: 200px;
  height: 200px;
  padding: 50px;
  border:5px solid black;
  box-sizing: border-box;
}

p {
  background-color: #7fdbff;
  width: 200px;
}

#third-div {
  background-color: yellow;
  min-height: 10px;

}

.image-1-container {
  width: 200px;
  height: 600px;
  background-color: red;

}
#image-1{
  width: 100%;
}

.image-2-container {
  display: inline-block;
  min-width: 200px;
  min-height: 600px;
  background-color: red;

}
